:root{
  --primary : #fff;
  --secondary : #004585;
  --onPrimary : #2c2c2c;
  --onSecondary : #fff;
  --light: #ebebeb;
  --lightGray : #f7f7f7;
  --darkGray : #aeb4b9;
}

/*==================[common style]================*/

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  font-weight: bold;
  position: relative;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading_container h2 .design_dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #4bc5b8;
  margin-right: 5px;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*header section*/
.hero_area {
  min-height: 100vh;
  background-color: #d0e6fc;
  background-color: #f5f7f8;
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .contact_section {
  margin: 75px 0;
}

.hero_area.sub_pages {
  min-height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.app-nav-bar .navbar-nav .nav-item .nav-link {
  padding: 45px 15px 15px;
  color: var(--onPrimary);
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

.app-nav-bar .navbar-nav .nav-item:hover .nav-link,
.app-nav-bar .navbar-nav .nav-item.active .nav-link {
  background-color: var(--secondary);
  color: var(--onSecondary);
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-brand h2 {
  color: var(--onPrimary);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.navbar-brand span {
  font-size: 16px;
  font-weight: bold;
  color: #56bca4;
  margin-top: -10px;
}

.app-nav-bar {
  z-index: 99999;
  padding: 0;
  border-bottom: 1px solid var(--light);
}

.app-nav-bar .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none;
}

.app-nav-bar .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.app-nav-bar .navbar-toggler span::before, .app-nav-bar .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.app-nav-bar .navbar-toggler span::after {
  top: 10px;
}

.app-nav-bar .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.app-nav-bar .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.app-nav-bar .navbar-toggler[aria-expanded="true"] span::before, .app-nav-bar .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
.slider_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0 165px 0;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail-box {
  margin-bottom: 110px;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #2a695a;
}

.slider_section .detail-box p {
  margin-top: 10px;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #56bca4;
  border: 1px solid #56bca4;
  color: #ffffff;
  margin-top: 15px;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #56bca4;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section #carouselExampleIndicators {
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #carouselExampleIndicators li {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 3px solid #000000;
  border-radius: 100%;
  opacity: 1;
}

.slider_section #carouselExampleIndicators li.active {
  width: 12px;
  height: 12px;
  border-color: #56bca4;
}

.special_section .special_container {
  color: #ffffff;
  background-color: #56bca4;
  padding: 25px;
  margin-top: -97.5px;
}

.special_section .special_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 10px;
}

.special_section .special_container .box .img-box {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 100%;
}

.special_section .special_container .box .img-box svg {
  width: 50px;
  height: auto;
  fill: #317b6a;
}

.special_section .special_container .box .detail-box h4 {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
}

.special_section .special_container .box .detail-box a {
  display: inline-block;
  color: #ffffff;
  margin-top: 10px;
}

.special_section .special_container .box.b2 {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.about_section {
  position: relative;
  text-align: center;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box {
  margin-top: 45px;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #56bca4;
  border: 1px solid #56bca4;
  color: #ffffff;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #56bca4;
}

.service_section {
  position: relative;
}

.service_section .box {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #edf3fa;
  margin-top: 45px;
  padding: 25px;
  border-radius: 5px;
}

.service_section .box img {
  max-width: 225px;
  width: 100%;
}

.service_section .box a {
  font-weight: 600;
  font-size: 24px;
  margin-top: 15px;
  color: #000000;
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 8px 45px;
  background-color: #56bca4;
  border: 1px solid #56bca4;
  color: #ffffff;
  margin-top: 45px;
}

.service_section .btn-box a:hover {
  background-color: transparent;
  color: #56bca4;
}

.book_section {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(86, 188, 164, 0.55)), to(rgba(86, 188, 164, 0.55))), url(../images/book-bg.jpg);
  background-image: linear-gradient(to right, rgba(86, 188, 164, 0.55), rgba(86, 188, 164, 0.55)), url(../images/book-bg.jpg);
  background-size: cover;
  color: #000000;
}

.book_section form {
  padding: 35px 45px;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.07);
}

.book_section form h4 {
  font-weight: 600;
  position: relative;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book_section form h4 .design_dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #4bc5b8;
  margin-right: 5px;
}

.book_section form label {
  color: #000000;
}

.book_section form .form-control {
  width: 100%;
  background-color: transparent;
  border: none;
  background-color: #deece9;
  height: 45px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  padding: 0 15px;
  color: #000000;
}

.book_section form .form-control::-webkit-input-placeholder {
  color: #000000;
}

.book_section form .form-control:-ms-input-placeholder {
  color: #000000;
}

.book_section form .form-control::-ms-input-placeholder {
  color: #000000;
}

.book_section form .form-control::placeholder {
  color: #000000;
}

.book_section form #inputDate {
  color: #56bca4;
}

.book_section form #inputDate input {
  color: #000000;
}

.book_section form button.btn {
  background-color: #35806e;
  color: #ffffff;
  padding: 10px 45px;
  border-radius: 5px;
  margin-top: 10px;
  text-transform: uppercase;
}

.book_section .date_icon {
  right: 10px;
  height: 100%;
  position: absolute;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #56bca4;
}

.book_section .nice-select {
  color: #000000 !important;
}

.book_section .nice-select:after {
  content: "\f107";
  font-family: FontAwesome;
  border: none;
  width: auto;
  height: auto;
  -webkit-transform: none;
          transform: none;
  top: 7px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.book_section .nice-select.open:after {
  content: "\f106";
}

.client_section .heading_container {
  margin-bottom: 30px;
}

.client_section .box {
  margin: 15px 70px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
  padding: 25px;
  text-align: center;
  background-color: #56bca4;
  color: #ffffff;
}

.client_section .box .client_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .box .client_info .client_name h5 {
  font-weight: 600;
}

.client_section .box .client_info .client_name h6 {
  margin-bottom: 15px;
  color: #f9f7f8;
  font-weight: normal;
  font-size: 15px;
}

.client_section .box .client_info i {
  font-size: 24px;
}

.client_section .box p {
  margin-top: 15px;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  width: 55px;
  height: 55px;
  background-color: #35806e;
  opacity: 1;
  font-size: 28px;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.client_section .carousel-control-prev {
  left: 0;
}

.client_section .carousel-control-next {
  right: 0;
}

.client_section .carousel_btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map_section {
  height: 345px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.map_section .map {
  height: 100%;
  flex: 1;
}

.map_section .map #googleMap {
  height: 100%;
}

.app-footer-content {
  background-color: var(--secondary);
  color: var(--onSecondary);
}

.app-footer-content h5 {
  text-transform: uppercase;
  font-weight: 600;
}

.app-footer-content .content-menu .navbar-nav .nav-item .nav-link {
  color:var(--onSecondary);
}

.app-footer-content .content-address .content-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.app-footer-content .content-address .content-contact a {
  color: var(--onSecondary);
  margin-bottom: 15px;
}

.app-footer-content .content-address .content-contact a i {
  margin-right: 5px;
}


/*app footer*/
.app-footer {
  background-color:var(--secondary);
}

.app-footer p {
  padding: 20px 0;
  color: var(--onSecondary);
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid var(--light);
}

.app-footer p a {
  color: inherit;
}



/*title-flex*/
.title-flex{
  height: 300px;
  margin-bottom: 10px;
}

.title-flex img{
  height: 100%;
  width: 100%;
}


/*about-us-sub-menu*/
.about-us-sub-menu{
  height: 100px;
  width: 100%;
  background-color: var(--secondary);
}

/* about-us */
.about-us {
  margin-top: 20px;
}
.about-us .about-us-title{
  font-size: 32px;
  font-weight: 700;
  color: var(--secondary);
  margin-bottom: 25px;
}
.about-us .about-us-content{
  text-align: justify;
  line-height: 25px;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: var(--onPrimary);
}

.about-us .about-us-hospital-image{
  height: 450px;
  width: auto;
  margin-top: 70px;
}

.about-us .about-us-video{
  width: 100%;
  height: 320px;
  margin-top: 20px;
  border: 1px solid var(--light);
}

.about-us-qoute{
  margin-top: 20px;
}
.about-us-qoute-card .content{
  background-color: var(--lightGray);
  border-left: 2px solid var(--secondary);
  border-right: 2px solid var(--secondary);
  padding: 30px;
  color: var(--onPrimary);
  margin-bottom: 20px;
}

.bod-title{
  width: 100%;
  font-weight: 700;
  color: var(--secondary);
  font-size: 30px;
  margin-bottom: 10px;
}

.bod-card{
  width: 100%;
  display: flex;
  border: 1px solid var(--light);
  padding: 10px;
  height: 160px;
}
.bod-card .content{
  width: 100%;
}
.bod-card .content .name{
  font-weight: 600;
  margin-bottom: 2px;
  font-size: 18px;
  color: var(--onPrimary);
}
.bod-card .content .position{
  font-weight: bold;
  font-size: 13px;
  color: var(--secondary);
  margin-bottom: 5px;
}

.bod-card .content .about-bod{
  text-align: justify;
  font-size: 10px;
  color: var(--onPrimary);
  padding-right: 10px;
}

.bod-card .avatar img{
  height: 130px;
  width: 100px;
}


/*end*/
.end{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: var(--secondary);
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
}


/*=== Login ===*/

.auth-form {
  width: 500px;
  padding: 32px;
  border-radius: 8px;
  background-color: var(--primary);
  border: 2px solid var(--light);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.auth-form p {
  font-size: 14px;
  color: #6b7280;
}

.auth-form .header {
  margin-bottom: 48px;
}

.auth-form .header h1 {
  font-weight: bolder;
  font-size: 28px;
  color: var(--secondary);
}

.auth-form .input-group{
  margin-bottom: 20px;
}
.auth-form .input-group input, .auth-form .input-group select {
  background-color: var(--light);
  color: var(--onPrimary);
  font-size: 16px;
}


.auth-form .input-group i {
  color: var(--secondary);
  font-size: 16px;
}

.auth-form input[type="submit"] {
  width: 100%;
  border: none;
  padding: 8px 0;
  margin: 24px 0;
  border-radius: 4px;
  background-color: var(--secondary);
  color: var(--onSecondary);
  font-size: 16px;
  cursor: pointer;
}

.auth-form a {
  color: var(--secondary);
  text-decoration: none;
}


.auth-form .form-group label{
  display: flex;
  justify-content: start;
  font-size: 14px;
  color: var(--onPrimary);
}


/*== contact-us ==*/
.contact-us-title{
  font-size: 32px;
  font-weight: 700;
  color: var(--secondary);
  margin-bottom: 25px;
}
.branch-info{
  width: 100%;
}
.branch-info-card{
  width: 100%;
  display: flex;
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--lightGray);
}

.branch-info-card .branch-details{
  width: 60%;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.branch-info-card .branch-details .title{
  font-size: 20px;
  font-weight: 700;
  color: var(--onPrimary);
}
.branch-info-card .branch-details .sub-title{
  color: var(--secondary);
  font-size: 15px;
  margin-bottom: 10px;
}
.branch-info-card .branch-details .address{
  font-size: 14px;
  margin-bottom: 5px;
}
.branch-info-card .branch-details .contact{
  font-size: 13px;
  font-weight: 700;
  color: var(--secondary);
}

.branch-info-card .branch-image{
  width: 40%;
  padding: 5px;
}
.branch-info-card .branch-image img{
  width: 100%;
  height:170px;
}

.contact-us-wrapper{
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contact-us-wrapper .contact-us-form-img{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}
.contact-us-wrapper .contact-us-form-img img{
  height: 240px;
  width: auto;
}

.contact-form {
  padding: 30px 40px;
  border-radius: 12px;
  width: 100%;
  padding-top: 0px;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color:var(--light);
  height: 50px;
  padding-left: 16px;
}

.contact-form .form-text-area {
  background-color: var(--light);
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: var(--darkGray);
  font-weight: 500;
  opacity: 1;
}


.contact-form .form-control:focus {
  border: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px var(--secondary);
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .description {
  color: var(--darkGray);
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: var(--secondary);
  color: var(--primary);
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: var(--secondary);
}


.contact-us .core-contact{
  width: 100%;
  background-color: var(--lightGray);
  padding: 15px;
  margin-bottom: 30px;
  display: flex;
}
.core-contact .core-contact-info{
  width: 50%;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.core-contact-info .info-key-value{
  display: flex;
  margin-bottom: 10px;
}
.core-contact-info .info-key-value:last-child{
  margin-bottom: 0px;
}
.core-contact-info .info-key-value .key{
  font-weight: 700;
  color: var(--onPrimary);
  margin-right: 10px;
}

.contact-us .core-contact-social{
  width: 50%;
}
.contact-us .core-contact-social img{
  width: 100%;
  height: 153px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid var(--light);
}